<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">

        <title>Quiz App | Home</title>
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <h1><a href="{% url 'homepage' %}" class="navbar-brand">
        <img src="http://placehold.it/40x40" alt="Logo" class="rounded">
         Quiz App</a></h1>
        <form class="form-inline">
            <div class="mx-auto">
              <!-- <button type="submit" class="btn btn-primary"><a href="#" class="text-white"> Signup</a></button>
              <button type="submit" class="btn btn-primary"><a href="#" class="text-white"> Login</a></button> -->
              <button type="submit" class="btn btn-danger"><a href="{% url 'admin:index' %}" class="text-white"><i class="fa fa-fw fa-lock " aria-hidden="true"></i>Admin Login</a></button>
          </div>
        </form>
      </div>
    </nav>

    {% block body_block %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js" integrity="sha256-MMt0/21G3z0Zg4ET1kI3HC9npItDowkitRDVr0FhCxA=" crossorigin="anonymous"></script>
    </body>
</html>