<!DOCTYPE html>

{% extends "base.html" %}

  {% block body_block %}
    <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h1 class="display-1 text-primary">Quiz App</h1>
        <p class="display-4 d-none d-sm-block">Test your skills and become a master.</p>
        <p class="lead">We organize quizzes on various topics.</p>
        <p class="lead">Signup if you haven't already and get access to millions of quizzes on the topic of your interest.</p>
        <p><strong> Start Your Journey Here:</strong></p>
        <a href="{% url 'Students:register' %}" class="btn btn-lg btn-primary mt-1"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
        <a href="{% url 'Students:login' %}" class="btn btn-lg btn-primary mt-1"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
      </div>  
    </section>
    <footer class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-3"> 
            <h6>Quick Links</h6>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">What's new?</a></li>
              <li><a href="#">Support</a></li>
              <!-- <li><a href="#">My account</a></li> -->
              <!-- <li><a href="#">Cancel subscription</a></li> -->
            </ul>  
          </div>
          <div class="col-12 col-sm-6 col-lg-3"> 
            <h6>Information</h6>
            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Jobs</a></li>
              <!-- <li><a href="#">Press info</a></li> -->
              <li><a href="#">Contact</a></li>
              <li><a href="#">Partnership</a></li>
            </ul>  
          </div>
          <div class="col-12 col-sm-6 col-lg-3"> 
            <h6>Follow Us</h6>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-fw fa-facebook " aria-hidden="true"></i> Facebook</a></li>
              <li><a href="#"><i class="fa fa-fw fa-instagram " aria-hidden="true"></i> Instagram</a></li>
              <li><a href="#"><i class="fa fa-fw fa-twitter " aria-hidden="true"></i> Twitter</a></li>
              <!-- <li><a href="#"><i class="fa fa-fw fa-youtube " aria-hidden="true"></i> YouTube</a></li> -->
              <!-- <li><a href="#"><i class="fa fa-fw fa-linkedin " aria-hidden="true"></i> LinkedIn</a></li> --> 
            </ul>        
          </div>
          <div class="col-12 col-sm-6 col-lg-3"> 
            <h6>Our location:</h6>
            <address>
              <!-- <strong>Quiz App</strong><br> -->
              BIET, Jhansi<br>
              Uttar Pradesh, 284128<br>
              <i class="fa fa-fw fa-phone" aria-hidden="true"></i> <span class="sr-only">Telephone:</span><a href="tel:+918787040049">(+91) 8787040049</a><br>
              <i class="fa fa-fw fa-phone" aria-hidden="true"></i> <span class="sr-only">Telephone:</span><a href="tel:+919721304421">(+91) 9721304421</a><br>
              <i class="fa fa-fw fa-inbox" aria-hidden="true"></i> <span class="sr-only">Mail:</span><a href="mailto:bietquiz@gmial.com">bietquiz@gmail.com</a>
            </address>
          </div>
        </div> 
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-9">
              <ul class="list-inline">
                <li class="list-inline-item">&copy; 2018 Quiz App.</li>
                <li class="list-inline-item">All rights reserved.</li>
                <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#modal">Terms of use and privacy policy.</a></li>
              </ul>
          </div>
          <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalTitle">Terms and conditions</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat, urna ut pharetra ultricies, augue tellus euismod turpis, vitae semper ipsum augue a velit. Pellentesque id finibus velit. Ut sagittis maximus maximus. In aliquet enim sed turpis mollis ornare. Suspendisse elementum a magna eu luctus. Etiam tincidunt mattis mauris, non lobortis nulla tempor in. Sed lacinia metus viverra, scelerisque enim sed, sollicitudin magna. Sed non augue sit amet nisl tincidunt ultrices. Praesent nec lacus eget tortor ultricies pulvinar. Praesent euismod ut lorem sit amet bibendum.</p>

                  <p>Pellentesque vitae convallis magna. Morbi non elementum mi. Suspendisse at mollis arcu, eu tempus tellus. Aenean fringilla eleifend nisl. Aliquam erat volutpat. Sed a tortor quis tortor convallis mattis. Nunc congue massa vitae lectus dictum, a mattis metus dignissim.</p>

                  <p>Nulla feugiat, lorem sit amet vehicula hendrerit, velit eros pellentesque est, at dictum elit risus id diam. In ante lorem, blandit vel dui in, sagittis laoreet erat. Proin dictum sit amet urna ut placerat. Pellentesque laoreet, dolor vitae facilisis feugiat, quam quam gravida elit, nec sagittis orci metus at leo. In scelerisque felis vel neque lobortis ullamcorper. Praesent quis sagittis neque, nec eleifend neque. Suspendisse at consectetur eros. Mauris lectus libero, molestie vel dapibus sit amet, luctus gravida ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut libero neque, pretium quis malesuada eget, congue ac mauris.</p>

                  <p>Aenean quis tristique libero. Vestibulum sagittis, sapien gravida lobortis posuere, diam arcu auctor libero, at tempor mauris nulla vel odio. Phasellus semper eros rutrum mi scelerisque interdum. Maecenas euismod est sit amet justo vestibulum bibendum. Etiam scelerisque sodales nisi nec efficitur. Pellentesque arcu mauris, accumsan eget mollis at, ultrices id ante. Duis in mi eget nisi euismod gravida. Cras pharetra sollicitudin elit, vel eleifend felis dignissim non. Integer leo ex, feugiat eu lorem egestas, mollis suscipit nulla. Duis quis tellus nulla. Maecenas risus ipsum, fringilla at orci sit amet, mattis fringilla orci. Vivamus odio tellus, ornare eu leo id, pellentesque sodales ante.</p>

                  <p>Sed laoreet ut ligula eget fringilla. Suspendisse dapibus dui at ex dictum hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi efficitur ac purus eget dignissim. Aliquam ultrices, orci finibus sollicitudin tempus, elit metus scelerisque magna, a rhoncus justo nisl vitae lectus. Nam mollis sed est ut ullamcorper. Curabitur consequat feugiat erat quis molestie. Fusce suscipit sem et nulla dignissim, id malesuada felis laoreet. Cras leo ligula, vulputate id mi ac, gravida porta sem. Mauris ullamcorper lectus ac eleifend elementum. Ut id velit consequat, facilisis leo vitae, volutpat nisi. Nunc hendrerit libero mi. Integer scelerisque mattis neque placerat condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eu odio mi. Duis interdum vulputate turpis pretium congue.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% endblock%}